<!-- footer -->
<footer>
  <div class="container">
    <div class="row">
      <div
        class="company-detail postion-relative col-lg-3 col-md-6"
        data-aos="fade-up"
      >
        <div class="footer-title">Achievers Learning Center</div>
        <div class="line"></div>
        <p class="gray-text">
          Achievers Learning Center is an educational tution center aimed at
          helping students achieve their academic and career goals through
          personalized guidance and expert support.
        </p>
        <div class="social-media d-flex gap-3 align-items-center">
          <a href="#"
            ><i class="social-icon fa-brands fa-facebook footer-icon"></i
          ></a>
          <a href="#"
            ><i class="social-icon fa-brands fa-instagram footer-icon"></i
          ></a>
          <a href="#"
            ><i class="social-icon fa-brands fa-twitter footer-icon"></i
          ></a>
          <a href="#"
            ><i class="social-icon fa-brands fa-linkedin footer-icon"></i
          ></a>
        </div>
      </div>

      <div
        class="quick-links postion-relative col-12 col-lg-3 col-md-6"
        data-aos="fade-up"
      >
        <div class="footer-title">Menu</div>
        <div class="line"></div>
        <ul>
          <li class="selected"><a href="#">Home</a></li>
          <% let catCount = 0; %> <% const parentCategories =
          categories.filter(category => !category.parent); %> <%
          parentCategories.forEach(cat => { %> <% if (catCount < 3) { %>
          <li class="<%= showingpage === cat.slug ? 'selected' : '' %>">
            <a href="/category/<%= cat.slug %>"> <%= cat.title %> </a>
            <% catCount++; %> <% } %> <% }); %>
          </li>

          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>

      <div
        class="quick-links postion-relative col-lg-3 col-md-6"
        data-aos="fade-up"
      >
        <div class="footer-title">quick-links</div>
        <div class="line"></div>
        <ul>
          <% let staticPageCount = 0; %> <% staticPages.forEach(page => { %> <% if
            (staticPageCount < 5) { %>
            <li><a href="/page/<%= page.slug %>"><%= page.title %></a></li>
            <% staticPageCount++; %> <% } %> <% }) %>
        </ul>
      </div>

      <div
        class="contacts postion-relative col-12 col-lg-3 col-md-6"
        data-aos="fade-up"
      >
        <div class="footer-title">Have a question</div>
        <div class="line"></div>
        <div class="row pb-3 align-items-center">
          <i class="col-2 footer-icon-contact fa-solid fa-location-dot"></i
          ><span class="col-10 footer-contact address"
            >Bagbazar, Kathmandu, Nepal</span
          >
        </div>
        <div class="row pb-3 align-items-center">
          <i class="col-2 footer-icon-contact fa-solid fa-phone"></i>
          <span class="col-10 footer-contact phone">+977-9828975514</span>
        </div>
        <div class="row pb-3 align-items-center">
          <i class="col-2 footer-icon-contact fa-solid fa-envelope"></i>
          <span class="col-10 footer-contact email"> info@achieverslearningcenter.com</span>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright-section" data-aos="fade-up">
    <span class="copy">Copyright © <%= new Date().getFullYear() %> Achievers | All rights reserved</span
    >&nbsp; Site by: <a href="#">CyBurning</a>
  </div>
</footer>
<!-- end footer -->

<!-- Testomonial form -->

<!-- AppointMent Form Modal -->
<div
  class="modal fade"
  id="appointmentModal"
  tabindex="-1"
  aria-labelledby="appointmentModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="appointmentModalLabel">Appointment</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="studentForm" action="javascript:void(0);" method="post">
          <!-- Name Input -->
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              required
            />
          </div>

          <div class="mb-3">
            <label for="name" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
            />
          </div>

          <div class="mb-3">
            <label for="name" class="form-label">Phone</label>
            <input
              type="phone"
              class="form-control"
              id="phone"
              name="phone"
              required
            />
          </div>

          <!-- Tution Type Dropdown -->

          <div class="mb-3 col-12">
            <label for="tutionType" class="form-label">tutionType</label>

            <select
              name="tution-type"
              class="form-control select2"
              id="tution-type"
              style="width: 100%"
              required
            >
              <option value="">Select Type</option>
              <option value="Home Tution">Home Tution</option>
              <option value="Physical Tution">Physical Tution</option>
              <option value="Online Tution">Online Tution</option>
            </select>
          </div>

          <div class="mb-3 col-12">
            <label for="timeShift" class="form-label">Shift</label>
            <select
              name="time-shift"
              class="form-control select2"
              id="time-shift"
              style="width: 100%"
              required
            >
              <option value="">Select Shift</option>
              <option value="Morning">Morning</option>
              <option value="Evening">Evening</option>
            </select>
          </div>

          <div class="mb-3 col-12">
            <label for="timeShift" class="form-label">Select Subject</label>

            <select
              name="subject"
              class="form-control select2"
              id="subject"
              style="width: 100%"
              multiple="multiple"
              required
            >
              <option value="">Select Subject</option>
              <option value="Physic">Physic</option>
              <option value="Chemistry">Chemistry</option>
              <option value="Maths">Mathmathics</option>
              <option value="Account">Account</option>
              <option value="Economics">Economics</option>
            </select>
          </div>

          <!-- Message -->
          <div class="mb-3">
            <label for="studentMessage" class="form-label">Message</label>
            <textarea
              class="form-control"
              id="studentMessage"
              name="studentMessage"
              rows="3"
            ></textarea>
          </div>

          <!-- Submit Button -->
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- AppointMent form -->

<!-- Search Form Modal -->
<div
  class="modal fade"
  id="searchModal"
  tabindex="-1"
  aria-labelledby="searchModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchModalLabel">Search</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="searchForm" action="#" method="post">
          <!-- Name Input -->
          <div class="row">
            <input
              type="text"
              class="form-control"
              id="search"
              name="search"
              placeholder="Type Here..."
              required
            />

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary col-2">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Search form -->

<%- include('./scripts') %>
