<%- include('../partials/header/header') %>

<!-- intro-section -->
<section class="listing-intro">
  <div class="container">
    <div class="overlay"></div>
    <div class="intro-header">
      <div class="into">
        
        <h1><%= post.title %></h1>
        
      </div>
      <div class="breadcrumbs">
        <ul>
          <li>Home</li>
          <li class="icon"><i class="fa-solid fa-chevron-right"></i></li>
          <li><%= categoryName[0] %></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- end of  intro-section -->

<div class="sharethis-inline-share-buttons"></div>

<section class="detail">
  <div class="container">
    <div class="img-container" data-aos="fade-right">
      <img src="<%= post.featured_image %>" alt="<%= post.title %>" />
    </div>

    <div class="editor-box">
      <%- post.content %>
    </div>
  </div>
</section>


<section class="listing">
      <div class="gallery-container">
        <div
          class="row"
          id="lightgallery"
          data-masonry='{"percentPosition": true}'
        >
        <% if (gallery_images.length > 0) { %>
          <% gallery_images.forEach(image => { %>
          <div
            class="col-lg-4 col-md-6 col-sm-12 gallery-item"
            data-src="<%= image.url %>"
          >
            <a href="<%= image.url %>">
              <img src="<%= image.url %>" alt="<%= image.caption || 'Gallery Image' %>" />
            </a>
          </div>
          <% }); %>
        <% } else { %>
            <p>No images available in the gallery.</p>
        <% } %>
        </div>
      </div>
    </section>

<% if(morePosts && morePosts.length > 0) { %>
<section class="more-container">
  <div class="container">
    <div class="tagline"><span>More <%= categoryName[0] %></span></div>
    <% morePosts.forEach(morePost => { %>
    <div class="list-box d-flex">
      <a href="/post/<%= morePost._id  %>">
      <div class="img-container" data-aos="fade-right">
        <img src="<%= morePost.featured_image %>" alt="<%= morePost.title %>" />
      </div>
      </a>
      <div class="list-container" data-aos="fade-left">
        <a href="/post/<%= morePost._id  %>">
        <div class="list-title">
          <%- morePost.title %>
        </div>
        <div class="date-line">      <% 
          const publishedDate = new Date(post.published_date); 
          
          const options = { year: 'numeric', month: 'long', day: 'numeric' }; 
          
          const formattedDate = publishedDate.toLocaleDateString('en-US', options); 
          %>
        <%= formattedDate %></div>
        <div class="list-subtitle">
          <%- truncateWords(morePost.summary, 50) %>
        </div>
        </a>
      </div>
    </div>
    <% }) %>
  </div>
</section>
<% }%>
<!-- Include Footer -->
<%- include('../partials/footer/footer') %>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var gallery = document.querySelector("#lightgallery");
    lightGallery(gallery, {
      selector: ".gallery-item",
      thumbnail: true,
      zoom: true,
    });

    // Masonry Layout
    var msnry = new Masonry(gallery, {
      itemSelector: ".gallery-item",
      columnWidth: ".gallery-item",
      percentPosition: true,
    });
  });
</script>
