
<!-- Include stylesheets and links -->
<%- include('../partials/header/links') %>


<!-- Desktop Navigation -->
<%- include('../partials/header/desktop_navigation') %>

<!-- Mobile Navigation -->
<%- include('../partials/header/mobile_navigation') %>

<section class="listing-intro">
  <div class="container">
    <div class="overlay"></div>
    <div class="intro-header">
      <div class="into">
        
        <h1><%= pageTitle %></h1>
        
      </div>
      <div class="breadcrumbs">
        <ul>
          <li>Home</li>
          <li class="icon"><i class="fa-solid fa-chevron-right"></i></li>
          <li><%= pageTitle %></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="sharethis-inline-share-buttons"></div>

<section class="detail">
  <div class="container">
    <div class="img-container" data-aos="fade-right">
      <img src="<%= background_image %>" alt="<%= pageTitle %>" />
    </div>

    <div class="editor-box">
      <%- content %>
    </div>
  </div>
</section>



<!-- Include Footer -->
<%- include('../partials/footer/footer') %>

<!-- Include Scripts -->
<%- include('../partials/footer/scripts') %>
