<%- include('../partials/header/header') %>

<!-- intro-section -->
<section class="listing-intro">
  <div class="container">
    <div class="overlay"></div>
    <div class="intro-header">
      <div class="into">
        <% if (category){ %>
        <h1><%= category.title %></h1>
        <% } %>
      </div>
      <div class="breadcrumbs">
        <ul>
          <li>Home</li>
          <li class="icon"><i class="fa-solid fa-chevron-right"></i></li>
          <li><%= category.title %></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- end of  intro-section -->

<section class="listing">
  <div class="container">
    <div class="row justify-content-between">
      <% if (posts && posts.length > 0) { %> <%posts.forEach(post=>{ %>
      <div class="photo-list-box col-12 col-md-6 col-lg-4">
        <a href="/post/<%= post._id %>">
          <div class="img-container" data-aos="fade-right">
            <img src="<%= post.featured_image || './theme/IG_Academy/images/default.png' %>" alt="<%= post.title %>" />
            <div class="img-hover">
              <i class="fa-solid fa-video"></i>
            </div>
          </div>
          <div class="list-container" data-aos="fade-left">
            <div class="list-title">
              <%= post.title %>
            </div>
            <div class="date-line"><% 
              const publishedDate = new Date(post.published_date);
              const options = { year: 'numeric', month: 'long', day: 'numeric' };
              const formattedDate = publishedDate.toLocaleDateString('en-US', options); 
            %>
            <%= formattedDate %></div>
            <div class="list-subtitle">
              <%- truncateWords(post.summary, 50) %>
            </div>
          </div>
        </a>
      </div>
      <% })%> <% } %>
    </div>

    <div class="pagination" data-aos="fade-up">
      <% if (pagination.hasPrevPage) { %>
        <a href="?page=<%= pagination.prevPage %>&limit=<%= limit %>">&laquo; Previous</a>
      <% } %>
      
      <% for (let i = 1; i <= pagination.totalPages; i++) { %>
        <a href="?page=<%= i %>&limit=<%= limit %>" class="<%= pagination.currentPage === i ? 'active' : '' %>">
          <%= i %>
        </a>
      <% } %>
    
      <% if (pagination.hasNextPage) { %>
        <a href="?page=<%= pagination.nextPage %>&limit=<%= limit %>">Next &raquo;</a>
      <% } %>
    </div>
    
  </div>
</section>
<!-- Include Footer -->
<%- include('../partials/footer/footer') %>

