<section class="success-stories-section">
  <div class="container">
    <div
      class="serv-header d-flex justify-content-between align-items-center"
    >
      <div class="sub-title" data-aos="fade-up">Success Stories</div>
      <div class="btn" data-aos="fade-up">
        <a href="/success-stories">View All Stories</a>
      </div>
    </div>
  </div>

  <div class="testomonial-section" data-aos="fade-up">
    <div class="container">
      <div class="owl-carousel test-carousel">
        <% testomonials.forEach(testomonial => { %>
        <a
          href="javascript:void(0);"
          class="login-btn"
          data-bs-toggle="modal"
          data-bs-target="#modal-<%= testomonial._id %>"
          aria-label="Read more about <%= testomonial.name %>"
        >
          <figure class="snip1390">
            <!-- Uncomment the watermark if needed -->
            <!-- <div class="watermark">Visa Approved!!</div> -->
            <img
              src="<%= testomonial.featured_image %>"
              alt="Photo of <%= testomonial.name %>"
              class="profile"
            />
            <figcaption>
              <h2><%= testomonial.name %></h2>
              <h4><%= testomonial.designation %></h4>
              <blockquote>
                <%- testomonial.content %> <!-- Ensure content is sanitized -->
              </blockquote>
            </figcaption>
          </figure>
        </a>
        <% }); %>
      </div>
    </div>
  </div>
</section>

<!-- Testomonial Form Modal -->
<% testomonials.forEach(testomonial => { %>
<div
  class="modal fade"
  id="modal-<%= testomonial._id %>"
  tabindex="-1"
  aria-labelledby="modal-label-<%= testomonial._id %>"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-label-<%= testomonial._id %>">
          <%= testomonial.name %>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4">
            <img
              src="<%= testomonial.featured_image %>"
              alt="Image of <%= testomonial.name %>"
              class="modal-profile"
            />
          </div>
          <div class="col-8">
            <span class="content">
              <%- testomonial.content %>
              <!-- Ensure content is safe if using raw HTML -->
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% }); %>
