<section class="team-section">
  <div class="container">
    <div class="serv-header d-flex justify-content-between align-items-center">
      <div class="sub-title" data-aos="fade-up">Our Team</div>
      <div class="btn" data-aos="fade-up">
        <a href="#">View All Team Members</a>
      </div>
    </div>
    <div class="row">
      <% const socialLinks = ['facebook', 'instagram', 'linkedin', 'twitter']; %>
      <% teams.forEach(team => { %>
        <div class="col-md-3 col-sm-6" data-aos="fade-up">
          <div class="our-team">
            <div class="pic">
              <img src="<%= team.featured_image || './theme/IG_Academy/images/default.png' %>" alt="<%= team.name %>'s photo">
              <ul class="social" aria-label="Social Media Links">
                <% socialLinks.forEach(platform => { %>
                  <% if (team[platform]) { %>
                    <li>
                      <a href="<%= team[platform] %>" aria-label="<%= team.name %>'s <%= platform %>" target="_blank" rel="noopener noreferrer" class="fab fa-<%= platform %>"></a>
                    </li>
                  <% } %>
                <% }); %>
              </ul>
            </div>
            <div class="team-content">
              <h3 class="title"><%= team.name %></h3>
              <span class="post"><%= team.designation || 'Team Member' %></span>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</section>
