<section class="test-section">
  <div class="container">
    <% categories.forEach(cat => { %> <% if (cat.slug ===
    "entrance-preparation") { %>
    <h2 class="sub-title text-center" data-aos="fade-up"><%= cat.title %></h2>
    <div class="summary text-center" data-aos="fade-up">
      <%- truncateWords(cat.content, 50) %>
    </div>
    <% } %> <% }) %>

    <div class="owl-carousel course-carousel" data-aos="fade-up">
      <% if (posts && posts.length > 0) { %> <% posts.forEach(post => { %> <% if
      (post.category[0].slug === 'entrance-preparation') { %>
      <div class="course-card">
        <a href="/post/<%= post._id %>">
          <img
            src="<%= post.featured_image ? post.featured_image : './theme/IG_Academy/images/default.png' %>"
            alt="<%= post.title %>"
          />
          <div class="course-content">
            <span class="category"><%= post.tag_line %></span>
            <h3><%= post.title %></h3>
            <p><%- truncateWords(cat.summary, 50) %></p>
            <div class="course-meta">
              <% page.customFields.forEach(field => { %> <% if (field.fieldName
              === 'Field_1') { %>
              <span><i class="fa fa-users"></i> <%= field.value %></span>
              <% } else if (field.fieldName === 'Field_2') { %>
              <span><i class="fa fa-clock-o"></i> <%= field.value %></span>
              <% } else if (field.fieldName === 'Field_3') { %>
              <span class="price"><%= field.value %></span>
              <% } %>
            </div>
          </div>
        </a>
      </div>
      <% }) %> <% } %> <% }) %>  <% } %>
      <!-- Repeat similar blocks for additional courses -->
    </div>
    <div class="btn-container" data-aos="fade-up">
      <div class="btn">
        <a href="#">View All Courses</a>
      </div>
    </div>
  </div>
</section>
